# Discord Bot Token from the Discord Developer Portal
DISCORD_TOKEN=

# Your Bot's Application (Client) ID
CLIENT_ID=

# The ID of the guild (server) you will use for developing and testing commands instantly.
# This is optional for production but highly recommended for development.
GUILD_ID=


Production=false

